.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  background-color: #81b3d2;
  width: 100%;
  text-align: center;

  img {
    vertical-align: bottom;
  }

  &--real-town {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/bg-triangle.svg");
      background-position-x: center;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 37px;
    }

    .advantages__content {
      margin-top: 78px;
      margin-bottom: 39px;
    }
  }

  &--short {
    position: relative;
    background-color: #f2f2f2;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 20px;
      right: 20px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:last-child::after {
      display: none;
    }

    .advantages__content {
      margin-top: 27px;
      margin-bottom: 28px;
    }

    .advantages__slogan {
      color: #000000;
    }

    .advantages__description {
      margin-left: 32px;
      margin-right: 32px;
    }

    .advantages__description,
    .advantages__number {
      color: #333333;
    }
  }
}

.advantages__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 39px 0;

  br {
    display: none;
  }
}

.advantages__slogan {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #ffffff;
}

.advantages__description {
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
  margin: 18px 25px 0 27px;
}

.advantages__number {
  display: block;
  color: #ffffff;
  font-size: 14px;
  margin-top: 12px;
}

@media (min-width: @tablet-width) {
  .advantages {
    margin-top: 50px;
  }

  .advantages__item {
    display: flex;
    width: 100%;

    &:nth-child(6) .advantages__description {
      margin: 25px 55px 0 55px;
    }

    img {
      object-fit: cover;
      width: auto;
      height: 256px;
    }

    &--real-town {
      &::before {
        display: none;
      }

      .advantages__content {
        margin: 45px 0;
      }
    }

    &--bridge-devil {
      .advantages__content {
        order: 2;
      }
    }

    &--short {
      width: 33.33%;
      text-align: center;

      &::after {
        display: none;
      }

      .advantages__content {
        width: 100%;
        margin: 45px 0;
      }

      .advantages__slogan {
        margin: 0 50px 0;
      }

      .advantages__number {
        margin-top: 11px;
      }

      .advantages__description {
        margin: 25px 40px 0 40px;
      }
    }
  }

  .advantages__content {
    width: 33.3%;

    br {
      display: block;
    }
  }

  .advantages__slogan {
    margin: 0 50px 0;
    font-size: 21px;
    line-height: 1.26;
  }

  .advantages__description {
    margin: 23px 44px 0 44px;
  }

  .advantages__number {
    margin-top: 11px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__content {
    margin: 55px 0;
  }

  .advantages__slogan {
    margin: 0 100px 13px 100px;
  }

  .advantages__number {
    margin: 0 40px 22px 40px;
  }

  .advantages__description {
    margin: 0 60px 0 60px;
  }

  .advantages__item {
    img {
      width: 100%;
    }

    &--real-town {
      .advantages__content {
        margin: 38px 0 45px 0;
      }
    }

    &--bridge-devil {
      .advantages__content {
        margin: 41px 0 45px 0;
      }

      .advantages__number {
        margin: 0 40px 24px 40px;
      }

      .advantages__description {
        margin: 0 90px 0 90px;
      }
    }

    &--short {
      .advantages__slogan {
        margin: 0 120px 0 120px;
      }

      .advantages__number {
        margin: 11px 40px 0 40px;
      }

      &:nth-child(6) .advantages__description,
      .advantages__description {
        margin: 25px 40px 20px 40px;
      }
    }
  }
}
