.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 18px;
}

.copyright__text {
  font-size: 14px;
  padding-left: 8px;
  line-height: 1.86;
  color: #000000;
  text-transform: uppercase;
}

.copyright__logo {
  width: 40px;
  margin-left: 7px;
  margin-top: 3px;

  path {
    fill: #000000;
  }
}
