.features {
  list-style: none;
  padding: 0;
}

.features__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
}

.features__text {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}
