.features {
  list-style: none;
  padding: 0;
  display: block;
  margin: 28px 0 16px 18px;
}

.features__item {
  display: flex;
  margin-bottom: 8px;

  br {
    display: none;
  }

  svg {
    fill: @primary;
    height: 36px;
  }
}

.features__content {
  margin: 7px 25px 0 12px;
}

.features__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: @text-dark;
  margin: 0;
}

.features__text {
  font-size: 14px;
  line-height: 1.5;
  color: @text;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .features {
    display: flex;
    margin: 28px 0 18px 0;
  }

  .features__item {
    display: block;
    width: 33.3%;
    text-align: center;
    margin: 30px 0;

    &:nth-child(3) .features__text {
      margin-left: 6px;
      margin-right: 6px;
    }

    &:nth-child(2) {
      order: 2;
    }

    svg {
      height: 72px;
      margin: 2px 0 0 0;
    }
  }

  .features__text {
    margin-top: 18px;
  }

  .features__content {
    margin: 22px 0 0 0;
    padding: 0 46px;
  }

  .features__title {
    font-size: 21px;
    margin-top: 18px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    margin: 28px 0 39px 0;
  }

  .features__content {
    padding: 0;
    margin: 22px 46px 0 46px;
  }

  .features__item {
    br {
      display: block;
    }
  }
}
