.field-checkbox {
  display: flex;
  margin: 22px 0 22px 0;
  align-items: center;
  position: relative;
  height: 56px;
}

.field-checkbox__input {
  & + label {
    display: block;
    font-size: 18px;
    margin-left: 80px;
    text-transform: none;
    margin-top: -3px;
  }

  & + label::before {
    content: "";
    position: absolute;
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 5px;
    background-color: @alt;
    cursor: pointer;
    left: 0;
    top: 0;
  }

  &:checked + label::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-tick.svg");
    width: 23px;
    height: 16px;
    background-repeat: no-repeat;
    left: 18px;
    top: 18px;
  }
}

@media (min-width: @tablet-width) {
  .field-checkbox {
    margin: 17px 0;
  }
}
