.page-footer {
  text-align: center;
  padding-bottom: 20px;
}

.page-footer__copyright {
  margin-top: 33px;
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
  text-transform: uppercase;
  margin-top: 35px;
}

@media (min-width: @tablet-width) {
  .page-footer__social {
    margin-right: 8px;
  }

  .page-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    padding-left: 6px;
  }

  .page-footer__hashtag {
    margin-top: 33px;
  }

  .page-footer__copyright {
    margin-top: 12px;
    margin-right: 5px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding: 25px 0;
  }

  .page-footer__hashtag {
    margin-left: -10px;
  }

  .page-footer__copyright {
    margin-right: -11px;
  }
}
