.photo-preview__caption {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.photo-preview__author {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.photo-preview__like-button {
  border: 0;
  outline: 0;
  background-color: transparent;
}

.photo-preview__total-likes {
  width: 24px;
  height: 11px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
}
