.social__list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: @primary;
  margin-right: 7px;
  margin-top: 15px;

  &:last-child {
    margin-right: 0;
  }

  a {
    height: 100%;
    width: 100%;
    text-decoration: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms ease-in-out;
  }

  a:hover {
    background-color: @primary-dark;
  }

  a:focus,
  a:active {
    background-color: @primary-darker;
  }

  svg {
    fill: #ffffff;
  }

  a:focus svg,
  a:active svg {
    opacity: 0.3;
  }
}
