.social__list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  vertical-align: top;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  margin-top: 15px;

  &:last-child {
    margin-right: 0;
  }

  a {
    text-decoration: transparent;
  }

  svg {
    fill: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    padding: 0 0 0 4px;
  }
}

@media (min-width: @desktop-width) {
  .social__list {
    padding: 0 0 0 5px;
  }
}
